# Ignore build directories and artifacts
Sources/*/managed_components/
Sources/*/build

# Ignore specific files
bookmarks.plist
PrivateToDo.md

# Ignore extensions
.DS_Store
.swiftpm
.vscode
.xcuserstate